<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBy5F3bmlt7HgV3OwB48WXafJHTX_iteHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>208899595811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios.profarmer</string>
	<key>PROJECT_ID</key>
	<string>profarmer-6180a</string>
	<key>STORAGE_BUCKET</key>
	<string>profarmer-6180a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208899595811:ios:8016ad05d8fdf9cb8d9b96</string>
</dict>
</plist>